nav.mstib_nav-main ul {
  display: flex;
  gap: 2rem;
}.accordeon {
  background: yellow;
}
.accordeon__header {
  background: cyan;
}

.accordeon-item__header {
  background: green;
}
.accordeon-item__header:hover {
  cursor: pointer;
}nav.mstib_nav-meta ul {
  display: flex;
  gap: 2rem;
}