<html
  xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
  data-namespace-typo3-fluid="true"
>

<standalone>
  <module href="./src/mst_site/html/Page/Layouts/Default.html">
    <h1>test</h1>
    <section class="mstitb_section">
      <div class="mstitb_container">
        <div class="mstitb_row">
          <div class="mstitb_col"></div>
        </div>
      </div>
    </section>
    <div class="mstitb_section">
      <div class="mstitb_container mstitb_bg--grey1">
        <div class="mstitb_row">
          <div class="mstitb_col">
            <h1>Accordeon</h1>
            <include src="html/Components/Templates/Container/Accordeon.html"/>
          </div>
        </div>
      </div>
    </div>
    <div class="mstitb_section  mstitb_bg--grey1">
      <div class="mstitb_container">
        <div class="mstitb_row">
          <div class="mstitb_col mstitb_col--60 mstitb_bg--gren">
            Hallo Welt 4
            <img src="../Images/Logo_MS_ITB.svg" width="200"/>
            <include src="includes/Text1.html"/>
          </div>
          <div class="mstitb_col mstitb_col--40 mstitb_bg--blue">
            <include src="includes/List1.html"/>
          </div>
        </div>
      </div>
    </div>
    <div class="mstitb_section  mstitb_bg--grey1">
      <div class="mstitb_container">
        <div class="mstitb_row">
          <div class="mstitb_col mstitb_col--50 mstitb_bg--gren">
            Hallo Welt 4
            <img src="../Images/Logo_MS_ITB.svg" width="200"/>
            <include src="includes/Text1.html"/>
          </div>
          <div class="mstitb_col mstitb_col--50 mstitb_bg--blue">
            <include src="includes/List1.html"/>
          </div>
        </div>
      </div>
    </div>
    <div class="mstitb_section mstitb_section--fullsize mstitb_bg--grey2">
      <div class="mstitb_container">
        <div class="mstitb_row">
          <div class="mstitb_col mstitb_col--50 mstitb_bg--gren">
            <include src="includes/Text1.html"/>
          </div>
          <div class="mstitb_col mstitb_col--50 mstitb_bg--blue">
            <include src="includes/List1.html"/>
          </div>
        </div>
      </div>
    </div>
    <div class="mstitb_section">
      <div class="mstitb_container">
        <div class="mstitb_row">
          <div class="mstitb_col"></div>
        </div>
      </div>
    </div>
    </div>
  </module>
</standalone>

<fluid>
  <f:layout name="Default"/>
  <f:section name="Content">
    {content0->f:format.raw()}
  </f:section>
</fluid>

<style type="text/scss" section="Content">

  body {
  }
</style>

</html>
