.mstitb_bg {
  &--green {
    background-color: map-get($breakpoints, 'green');
  }

  &--red {
    background-color: map-get($breakpoints, 'red');
  }

  &--blue {
    background-color: map-get($breakpoints, 'blue');
  }

  &--yellow {
    background-color: map-get($breakpoints, 'yellow');
  }
}
