// veloroad

/* red-hat-text-regular - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/red-hat-text-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/red-hat-text-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/red-hat-text-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/red-hat-text-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/red-hat-text-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/red-hat-text-v13-latin-regular.svg#RedHatText') format('svg'); /* Legacy iOS */
}

/* red-hat-text-500 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/red-hat-text-v13-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/red-hat-text-v13-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/red-hat-text-v13-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/red-hat-text-v13-latin-500.woff') format('woff'), /* Modern Browsers */
  url('../fonts/red-hat-text-v13-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/red-hat-text-v13-latin-500.svg#RedHatText') format('svg'); /* Legacy iOS */
}

/* red-hat-text-600 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/red-hat-text-v13-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/red-hat-text-v13-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/red-hat-text-v13-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/red-hat-text-v13-latin-600.woff') format('woff'), /* Modern Browsers */
  url('../fonts/red-hat-text-v13-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/red-hat-text-v13-latin-600.svg#RedHatText') format('svg'); /* Legacy iOS */
}

/* red-hat-text-700 - latin */
@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/red-hat-text-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../fonts/red-hat-text-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/red-hat-text-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/red-hat-text-v13-latin-700.woff') format('woff'), /* Modern Browsers */
  url('../fonts/red-hat-text-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/red-hat-text-v13-latin-700.svg#RedHatText') format('svg'); /* Legacy iOS */
}
