<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<!-- indexed_search/Partials/Form.html -->
<f:form action="search" method="post" id="tx_indexedsearch" pageUid="{settings.targetPid}">
  <div class="input-group">
    <div class="tx-indexedsearch-hidden-fields">
      <f:form.hidden name="search[_sections]" value="0"/>
      <f:form.hidden name="search[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_"/>
      <f:form.hidden name="search[pointer]" id="tx_indexedsearch_pointer" value="0"/>
      <f:form.hidden name="search[ext]" value="{searchParams.ext}"/>
      <f:form.hidden name="search[searchType]" value="{searchParams.searchType}"/>
      <f:form.hidden name="search[defaultOperand]" value="{searchParams.defaultOperand}"/>
      <f:form.hidden name="search[mediaType]" value="{searchParams.mediaType}"/>
      <f:form.hidden name="search[sortOrder]" value="{searchParams.sortOrder}"/>
      <f:form.hidden name="search[group]" value="{searchParams.group}"/>
      <f:form.hidden name="search[languageUid]" value="{searchParams.languageUid}"/>
      <f:form.hidden name="search[desc]" value="{searchParams.desc}"/>
      <f:form.hidden name="search[numberOfResults]" value="{searchParams.numberOfResults}"/>
      <f:form.hidden name="search[extendedSearch]" value="{searchParams.extendedSearch}"/>
    </div>
    <label class="vhidden" for="tx-indexedsearch-searchbox-sword">
      <f:translate key="form.searchFor"/>
      :</label>
    <f:form.textfield name="search[sword]" value="{sword}" id="tx-indexedsearch-searchbox-sword"
                      class="form-control tx-indexedsearch-searchbox-sword"/>
    <span class="input-group-btn">
				<label class="vhidden" for="tx-indexedsearch-searchbox-button-submit"><f:translate key="form.submit"/>:</label>
				<f:form.button type="submit" additionalAttributes="{aria-label:'Search'}" name="search[submitButton]"
                       value="{f:translate(key: 'form.submit')}" id="tx-indexedsearch-searchbox-button-submit"
                       class="btn btn-primary tx-indexedsearch-searchbox-button"><i class="fa fa-lg fa-search"
                                                                                    aria-hidden="true"></i></f:form.button>
			</span>
  </div>
</f:form>
</html>
